{% extends 'usuarios/base.html' %}
{% load static %}
{% block content %}
    <div class="pagina-inicial">
        <header class="cabecalho">
            <img src="{% static '/assets/logo/Logo(2).png' %}" alt="Logo da Alura Space" />
            {% include 'partials/_alertas.html' %}
            <div class="cabecalho__busca">
                <div class="busca__fundo">
                    <form action="{% url 'buscar' %}" class="form-buscar" style="max-width: 500px;">
                        <input  class="busca__input" type="text" name="buscar" placeholder="O que você procura?">
                        <button type="submit" class="button-search">
                            <img class="busca__icone" src="{% static '/assets/ícones/1x/search.png' %}" alt="ícone de search">
                        </button>
                    </form>
                </div>
            </div>
        </header>
        <main class="principal">
            <section class="menu-lateral">
                <nav class="menu-lateral__navegacao">
                    <a href="{% url 'index' %}"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
                    <a href="{% url 'login' %}"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> Login</a>
                    <a href="{% url 'cadastro' %}"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Cadastrar</a>
                    <a href="{% url 'logout' %}"><img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Logout</a>
                </nav>
            </section>
            <section class="galeria__perfil" style="margin-left: 5em">
                <div class="container__user">
                    <div class="container__info__user">
                        <h3 class="title__info">Nome usuário: </h3>
                        <p>kauan</p>
                    </div>
                    <div class="container__info__user">
                        <h3 class="title__info">Email:</h3>
                        <p>kauanrl09@gmail.com</p>
                    </div>
                    <div class="container__info__user">
                        <h3 class="title__info">Senha: </h3>
                        <p>**********</p>
                    </div>
                </div>
                <div class="container__button-edit">
                    <button class="button-edit-user"><a href="" class="btn-primary user">Editar informações</a></button>
                </div>
            </section>
        </main>
    </div>
{% endblock %}