{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}
            <section class="conteudo">
                <section class="banner">
                    <img class="banner__imagem" src="{% static '/assets/imagens/Banner(2).png' %}" alt="banner Alura Space">
                    <h1 class="banner__titulo"> A galeria mais completa de fotos do espaço!</h1>
                </section>
                <section class="tags">
                    <p class="tags__titulo">Busque por tags:</p>
                    <ul class="tags__lista">
                        <a href="{% url 'suas_imagens_com_categoria' 'NEBULOSA' %}"><li class="tags__tag">Nebulosa</li></a>
                        <a href="{% url 'suas_imagens_com_categoria' 'ESTRELA' %}"><li class="tags__tag">Estrela</li></a>
                        <a href="{% url 'suas_imagens_com_categoria' 'GALÁXIA' %}"><li class="tags__tag">Galáxia</li></a>
                        <a href="{% url 'suas_imagens_com_categoria' 'PLANETA' %}"><li class="tags__tag">Planeta</li></a>
                        <a href="{% url 'suas_imagens_com_categoria' 'FAVORITAS' %}"><li class="tags__tag">Favoritas</li></a>
                    </ul>
                </section>
                <section class="galeria">
                    <div class="cards">
                        <h2 class="cards__titulo">Navegue pela galeria</h2>
                        <ul class="cards__lista">
                            {% if cards %}
                            {% for imagem in cards %}
                            <li class="card">
                                <a href="{% url 'imagem' imagem.id %}">
                                    {% if imagem.caminho_imagem == '' or imagem.caminho_imagem == null %}
                                        <img class="card__imagem" src="{% static '/assets/imagens/galeria/not-found.png' %}" alt="foto">
                                    {% else %}
                                        <img class="card__imagem" src="{{ imagem.caminho_imagem.url }}" alt="foto">
                                    {% endif %}
                                </a>
                                <span class="card__tag">{{ imagem.categoria }}</span>
                                <div class="card__info">
                                    <p class="card__titulo">{{ imagem.nome }}</p>
                                    <div class="card__texto">
                                        <p class="card__descricao">{{ imagem.legenda }}</p>
                                        <span>
                                            {% if imagem.id in imagens_favoritadas_do_usuario %}
                                                <a href="{% url 'favoritar_imagem' imagem.id %}"><img src="{% static '/assets/ícones/1x/heart-fill.svg' %}" alt="ícone de coração" class="heart"></a>
                                            {% else %}
                                                <a href="{% url 'favoritar_imagem' imagem.id %}"><img src="{% static '/assets/ícones/1x/heart_outline.png' %}" alt="ícone de coração" class="heart"></a>
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                            {% else %}
                            <div class="imagem__texto">
                                <p>Nenhuma imagem foi encontrada</p>
                            </div>
                            {% endif %}
                        </ul>
                    </div>
                </section>
            </section>
        </main>
    </div>
    
{% endblock %}